body {
  font-family: 'Trispace', 'Turret Road', sans-serif;
  color: black;
  font-weight: bold;
}

.container {
  border-radius: 5px;
  margin-top: 0;
}

h2 {
  margin: 0;
}

form {
  position: relative;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-profile2 {
  text-decoration: none;
  letter-spacing: 0.2rem;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 2px solid white;
}

.header-profile2:hover {
  color: blue;
  font-size: 20px;
  letter-spacing: 0.5rem;
}

#modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-check {
  opacity: 0.05;
}

.x {
  font-size: 40px;
  color: darkred;
}

.x:hover {
  cursor: pointer;
}

h1 {
  text-align: left;
  letter-spacing: 0.8rem;
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 2rem;
  margin-bottom: 0;
  background-color: rgb(163, 130, 130);
  width: 75%;
}

label {
  text-align: left;
}

main > label {
  display: flex;
  flex-direction: column;
}

main > div {
  font-size: 40px;
  text-align: left;
  padding-bottom: 0.5rem;
}

main > img {
  width: 100%;
  border: 3px solid black;
  height: 87%;
}

.right-column-edit-profile {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.avatar {
  margin-top: 2rem;
}

input:required {
  width: 100%;
  height: 50%;
  padding-bottom: 0.75rem;
  border: 3px solid black;
}

textarea:required {
  width: 100%;
  border: 3px solid black;
}

button {
  margin-top: 1%;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 3px 4px 5px black;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(0.4rem);
}

.save-label {
  text-align: right;
}

span {
  font-size: 15px;
  padding: 0;
  width: 80%;
  margin-left: 0.5rem;
}

article {
  font-weight: bold;
  margin-top: 1rem;
}

.user-icon {
  padding-top: 2rem;
}

.edit-button {
  margin-top: 1rem;
  border: 3px solid black;
  width: 100px;
  font-weight: bolder;
}

.edit-profile-text {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
  width: 100%;
}

.entry-container {
  padding-top: 0;
  margin: 0;
}

.right-column-create-entry {
  margin-top: 1.5rem;
  width: 50%;
}

.entries-header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.new-entry-button {
  height: 35%;
}

.new-entry-text {
  text-decoration: none;
}

.entries-article {
  margin: 0;
  padding-left: 1rem;
}

.entries-image-container {
  width: 50%;
  margin-bottom: 2rem;
  border: 1px solid red;
  height: 50%;
  padding: 0;
}

.entries-image {
  width: 100%;
}

article p {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .right-column,
  .right-column-create-entry {
    width: 100%;
    transform: translateY(-3rem);
  }

  .right-column-edit-profile {
    width: 100%;
  }

  .entries-article {
    padding-left: 0;
  }
}
